<html>
<head>
<link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
<div class="ui one column center aligned divided relaxed stackable grid container">
 <div class="row">
  <div class="column">
   <h3>Contenido: acerca de mi, por ahora nada</h3>


  </div>
 </div>
</div>

</head>
<body>
</body>
</html>
