<html>
    <head>
        <meta charset="utf-8">
        <title>Otra pagina de prueba</title>
    </head>
    <body>
       <p>Ponte en contacto conmigo a mi mail <a href="mailto:hernanofx@hotmail.com"> </a> </p>
    </body>
</html>
