<html>
    <head>
      <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />

        <meta charset="utf-8">
        <title>Otra pagina de prueba</title>
    </head>
    <body>
       <p>Ponte en contacto conmigo a mi mail <a href="mailto:hernanofx@hotmail.com?subject=feedback"> Escribeme</a> </p>
    </body>
</html>
