<html>
    <head>
      <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
        <meta charset="utf-8">
        <title>Otra pagina de prueba</title>
    </head>
    <body>
       <p>Puta madre</p>
    </body>
</html>
