<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
         <title>testing</title>
     </head>
    <body>

      <div class="w3-container w3-section w3-green">
          <h1>Hernan, en h1</h1>
          <p>No hay mucho que quiera decir en este momento, parrafo</p>
        </div>

      <footer class="w3-container w3-teal">
          <p> Guido, parrafo</p>
          <h5>Tampoco mucho para decir ahora, h5 </h5>
        </footer>

      <div class="w3-container w3-pale-blue w3-leftbar w3-border-blue">
        <p> Dorra </p>
        <p> Ahora menos </p>
  </div>

<div id="prueba"> <br>
  <div class="w3-container w3-light-grey w3-border">
    <p> Prueba de estilos </p>
</div>


Sigue con la prueba de estos programas »

    </body>
</html>
