<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>testing</title>
    </head>
    <body>
      <div style="background-color:yellow; color:black; padding:20px;">

<h2>Hernan</h2>
<p>No hay mucho que quiera decir en este momento</p>

</div>
      <div style="background-color:black; color: white; padding:10px;">
<h3> Guido</h3>
<p> Tampoco mucho para decir ahora </p>
Sigue con la prueba de estos programas »

    </body>
</html>
