<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>testing</title>
    </head>
    <body>
      <div style="background-color:blue; color:black; padding:20px;">

<h2>Hernan</h2>
<p>No hay mucho que quiera decir en este momento</p>

</div>
Sigue la prueba »

    </body>
</html>
