<!doctype html>
<html>
    <head>
      <LINK href="/styles.css" rel="stylesheet" type="text/css">

        <meta charset="utf-8">
         <title>testing</title>
     </head>
    <body>
      <div style="background-color:yellow; color:black; padding:10px;">

<h1>Hernan</h1>
<p>No hay mucho que quiera decir en este momento</p>

</div>
      <div style="background-color:black; color: white; padding:20px;">
<h2> Guido</h2>

<p> Tampoco mucho para decir ahora </p>

</div>

<div style="background-color:brown; color:white; padding:30px;">
  <h3> Dorra </h3>

  <p> Ahora menos </p>
  </div>

<div id="prueba"> <br>
<h4> Prueba de estilos </h4>
</div>


Sigue con la prueba de estos programas »

    </body>
</html>
