<html>
  <head>
    <title>Páginas de prueba de Hernan</title>
    <link href="/views/styles.css" />
  </head>
  <body>
    <div id='header'>
      <nav>
        <ul>
           <li> <a href="/"> Volver </a> </li>
           <li> <a href="form"> Formulario </a> </li>
           <li> <a href="presu"> Presupuesto</a> </li>
           <li> <a href="contact"> Contacto </a> </li>
           <li> <a href="about"> Sobre mi</a> </li>
        </ul>
      </nav>
    </div>
    <div id='main'>
      <%= yield %>
    </div>
  </body>
</html>
