<html>
  <head>
    <title>Página de prueba de Hernan</title>
  </head>
  <body>
    <div id='header'>
      <nav>
        <ul>
           <li> <a href="/"  Home  </a> </li>

          <li> <a href="contact"  Contacto  </a> </li>

          <li> <a href="about"  Sobre mi </a> </li>
        </ul>
      </nav>
    </div>
    <div id='main'>
      <%= yield %>
    </div>
  </body>
</html>
