<html>
  <head>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
    <title>Páginas de prueba de Hernan</title>
  </head>
  <body>
    <div id='header'>
      <nav>

        <ul class="w3-navbar w3-card-8 w3-large w3-blue">
          <li><a href="/"><i class="fa fa-home w3-large"></i></a></li>
          <li><a href="presu">Presupuesto<i class="fa fa-plane w3-large"> </a></li>
          <li><a href="contact">Contacto<i class="fa fa-envelope w3-large"></i></i></a></li>
          <li><a href="about">Sobre mi<i class="fa fa-male w3-large"></a></li>
          </ul>

      </nav>
    </div>
    <div id='main'>
      <%= yield %>
    </div>
  </body>
</html>
