<html>
  <head>
    <title>Página de prueba de Hernan</title>
  </head>
  <body>
    <div id='header'>
      <nav>
        <ul>
          <li> <a href="/" "Vuelve al inicio" Home </a> </li>

          <a href="contact" "Ponte en contacto conmigo" <li>Contacto</li> </a>

          <a href="about" "Quién soy" <li>Sobre mi</li> </a>
        </ul>
      </nav>
    </div>
    <div id='main'>
      <%= yield %>
    </div>
  </body>
</html>
