<html>
  <head>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
    <title>Páginas de prueba de Hernan</title>
  </head>
  <body>
    <div id='header'>
      <nav>
        <ul class="w3-navbar w3-card-8 w3-blue w3-large" >
          <li><a href="/">Volver</a></li>
          <li><a href="presu">Presupuesto</a></li>
          <li><a href="contact">Contacto</i></a></li>
          <li><a href="about">Sobre mi</a></li>
          </ul>
      </nav>
      <nav class="w3-sidenav w3-collapse w3-white" style="width:200px" id="mySidenav">
        <a href="#" onclick="w3_close()" class="w3-closenav w3-hide-large">Close &times;</a>
        <li><a href="/">Volver</a></li>
        <li><a href="presu">Presupuesto</a></li>
        <li><a href="contact">Contacto</i></a></li>
        <li><a href="about">Sobre mi</a></li>
      </nav>
      <div class="w3-main" style="margin-left:200px">
       <span class="w3-opennav w3-hide-large" onclick="w3_open()">&#9776;</span>
        ... page content ...
      </div>

      <script>
      function w3_open() {
        document.getElementById("mySidenav").style.display = "block";
      }
      function w3_close() {
        document.getElementById("mySidenav").style.display = "none";
      }
      </script>
      
      <div style="margin-left:10%">
      </div>

    </div>
    <div id='main'>
      <%= yield %>
    </div>
  </body>
</html>
