<html>
  <head>
    <title>Página de prueba de Hernan</title>
  </head>
  <body>
    <div id='header'>
      <nav>
        <ul>
          <a href="index" "Vuelve al inicio"</a> <li>Home</li>
          <a href="contact" "Ponte en contacto conmigo"</a> <li>Contacto</li>
          <a href="about" "Quién soy"</a> <li>Sobre mi</li>
        </ul>
      </nav>
    </div>
    <div id='main'>
      <%= yield %>
    </div>
  </body>
</html>
