<html>
    <head>
      <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
      <title>Páginas de prueba de Hernan</title>
    </head>
    <body>
      <div id='header'>
        <nav>
          <ul class="w3-navbar w3-card-8 w3-blue w3-large" >
            <li><a href="/">Volver</a></li>
            <li><a href="presu">Presupuesto</a></li>
            <li><a href="contact">Contacto</i></a></li>
            <li><a href="about">Sobre mi</a></li>
            </ul>
        </nav>

      </div>
      <div id='main'>
        <%= yield %>
      </div>
    </body>
  <footer class="w3-container w3-pale-blue w3-border-blue"
       <div id=autor class="w3-display-bottomright">
        <p> Hecho por: Hernán Dorra
        </div>
        <div id=contacto class="w3-display-bottommiddle">
        <p> Contacto: <a href="mailto:hernanofx@hotmail.com"> hernanofx@hotmail.com</a></p>
     </div>
   </footer>
 </html>
