<html>
  <head>
    <title>Página de prueba de Hernan</title>
  </head>
  <body>
    <div id='header'>
      <nav>
        <ul>
          <li> <a href="/" "Home" </a>

          <a href="contact" "Contacto" </a>

          <a href="about" "Sobre mi" </li> </a>
        </ul>
      </nav>
    </div>
    <div id='main'>
      <%= yield %>
    </div>
  </body>
</html>
