<html>
  <head>
    <title>Página de prueba de Hernan</title>
  </head>
  <body>
    <div id='header'>
      <nav>
        <ol>
           <a href="/" <li> Home </li> </a>

          <a href="contact" <li> Contacto </li> </a>

          <a href="about" <li> Sobre mi </li> </a>
        </ol>
      </nav>
    </div>
    <div id='main'>
      <%= yield %>
    </div>
  </body>
</html>
