<form>
  <input type="checkbox" name="presupuesto" value="$0"> Presupuesto <br>
  <input type="checkbox" name="instpro" value="$150"> Instalación de programas<br>
  <input type="checkbox" name="instso" value="$200"> Instalación de Sistema Operativo<br>
  <input type="checkbox" name="instmem" value="$1000"> Instalación de memorias<br>
  <input type="checkbox" name="placas" value="$150"> Instalación de placas (sonido, imagen, etc..)<br>
  <input type="checkbox" name="fuente" value="$150"> Cambio de fuente<br>
  <input type="checkbox" name="retiro" value="$0"> Retiro de la pc de domicilio<br>
  <input type="checkbox" name="entrega" value="$100"> Entrega del equipo en su domicilio<br>
  <input type="checkbox" name="copias" value="$80"> Copias de cd/dvds<br>
</form>

<form>
  <input type="text" name="primernombre"> Nombre<br>
  <input type="text" name="apellido"> Apellido<br>
  <input type="number" name="telefono"> Teléfono<br>
  <input type="text" name="email"> Email<br>
  <input type="text" name="calle"> Calle<br>
  <input type="number" name="altura"> Altura<br>
  <input type="text" name="piso"> Piso<br>
  <input type="text" name="localidad"> Localidad<br>
  </form>
