<form action="/presupuestado" method="post">

  <input type="checkbox" name="presupuesto" value="$0"> Presupuesto <br>
  <input type="checkbox" name="instpro" value="$150" id="chk1"><label for="chk1"> Instalacion de programas<br>
  <input type="checkbox" name="instso" value="$200" id="chk2"><label for="chk2"> Instalacion de Sistema Operativo<br>
  <input type="checkbox" name="instmem" value="$1000" id="chk3"><label for="chk3"> Instalacion de memorias<br>
  <input type="checkbox" name="placas" value="$150" id="chk4"><label for="chk4"> Instalacion de placas (sonido, imagen, etc..)<br>
  <input type="checkbox" name="fuente" value="$150" id="chk5"><label for="chk5"> Cambio de fuente<br>
  <input type="checkbox" name="retiro" value="$0" id="chk6"><label for="chk6"> Retiro de la pc de domicilio<br>
  <input type="checkbox" name="entrega" value="$100" id="chk7"><label for="chk7"> Entrega del equipo en su domicilio<br>
  <input type="checkbox" name="copias" value="$80" id="chk8"><label for="chk8"> Copias de cd/dvds<br>
  <textarea name="message" rows="10" cols="30">  Otros, brindar mas información  </textarea><br>
  <br>

  <input type="text" name="primernombre"> Nombre<br>
  <input type="text" name="apellido"> Apellido<br>
  <input type="tel" name="telefono"> Teléfono<br>
  <input type="email" name="email"> Email<br>
  <input type="text" name="calle"> Calle<br>
  <input type="number" name="altura"> Altura<br>
  <input type="text" name="piso"> Piso<br>
  <input type="text" name="localidad"> Localidad<br>
  <input type="button"name="Presupuestar" value="Contar" onClick="contar();">
  <br>

  </form>
